<%- include("./partials/header") %>

<div class="row">
	<div class="col">
		<h1>About Us</h1>
		<hr>
		<p style="font-size:1.4em">
			Currently there are many tours which are in isolation. These places can only be booked physically or via the telephonic means. Many a times people have to visit the tour office and then check its availability. Going there and physically just enquiring consumes lot of time. Also, the amount to money is wasted to visit the tour physically for booking.</p>
		
		<P style="font-size:1.4em">
			 One more problem associated with booking via telephonic means is that  the services provided like pickup and drop from your place or extra paid activities are included or not is not known clearly. Ratings of tour cannot be seen or viewed so users are unable to know how actually that particular tour would be.
		</P>
		
		<p style="font-size:1.4em">
			There are currently some ways to book a tour online but all of them take an extra tax and even increase the actual price so they get a commission.This becomes difficult for many people to trust the site.Also there are many tours that are isolated and are not available on any online platforms. </p>

		<p style="font-size:1.4em" >
			The current scope is to deploy this portal for India.The tours all over India can be enrolled onto “GoTOUR.
		</p>
	</div>
</div>

<%- include("./partials/footer") %>