<%- include("./partials/header") %>

<div class="row">
	<h1 style="text-align:center">Forgot Password</h1>
	<div style="width:30%; margin:25px auto">
		<form action="/forgot" method="POST" autocomplete="off">
			<div class="form-group">
				<input id="uname" class="form-control" type="text" name="username" placeholder="Enter your registered username" required>
			</div>
				<button class="btn btn-lg btn-primary btn-block">Submit</button>
			</div>
		</form>
	</div>
</div>

<%- include("./partials/footer") %>